// ABBYY® Mobile Capture © 2019 ABBYY Production LLC.
// ABBYY is a registered trademark or a trademark of ABBYY Software Ltd.

SDKROOT = iphoneos
PRODUCT_NAME = $(TARGET_NAME)
IPHONEOS_DEPLOYMENT_TARGET = 11.0

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/Sources/Entitlements.entitlements
INFOPLIST_FILE = $(SRCROOT)/Sources/Info.plist
BUNDLE_VERSION = 1.0.0.0-dev

CLANG_CXX_LANGUAGE_STANDARD = gnu++0x
CLANG_CXX_LIBRARY = libc++
ENABLE_BITCODE = NO

ABBYY_RTR_SDK_DISTRIBUTION_ROOT = ..
FRAMEWORK_SEARCH_PATHS = $(ABBYY_RTR_SDK_DISTRIBUTION_ROOT)/libs
LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks

PRODUCT_BUNDLE_IDENTIFIER = com.abbyy.rtr.sample-imagecapture
CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = iPhone Developer
DEVELOPMENT_TEAM =
PROVISIONING_PROFILE_SPECIFIER =
